<div class="row">
  <div class="offset-md-1">
    <h5 class="px-4 table-secondary">マイページ</h5>
  </div>
</div>

<div class="d-flex align-items-center my-3 mt-4">
  <h5 class="mb-0 mr-5">登録情報</h6>
  <%= link_to "編集する", edit_mypage_path, class:"btn btn-success ml-5 shadow rounded" %>
</div>

<div class="d-flex align-items-center my-3 mt-4">
  <%= image_tag @customer.get_customer_image(50,50),class:"rounded-circle" %>
</div>

<div class="row">

<table class="table table-bordered border-dark col-md-6 shadow p-3 mb-5 bg-white rounded">
  <tr>
      <td class="table-secondary border-dark">表示名</td>
      <td class="border-dark content"><%= @customer.no_nick_name %></td>
  </tr>
  <tr>
      <td class="table-secondary border-dark">氏名</td>
      <td class="border-dark content"><%= @customer.full_name %></td>
  </tr>
  <tr>
      <td class="table-secondary border-dark">カナ</td>
      <td class="border-dark content"><%= @customer.full_name_kana %></td>
  </tr>
  <tr>
      <td class="table-secondary border-dark">所属</td>
      <td class="border-dark content">
        <%= I18n.t("enums.customer.departments.#{@customer.department}") %>
        <%= I18n.t("enums.customer.grades.#{@customer.grade}") %>
      </td>
  </tr>
  <tr>
      <td class="table-secondary border-dark">電話番号</td>
      <td class="border-dark content"><%= @customer.phone_number %></td>
  </tr>
  <tr>
      <td class="table-secondary border-dark">メールアドレス</td>
      <td class="border-dark content"><%= @customer.email %></td>
  </tr>
</table>

<div class="ml-3">
  <div class="d-flex align-items-center my-3 mt-4">
    <h5 class="">自分の登録商品</h6>
    <%= link_to "一覧を見る", show_information_path(@customer), class:"btn btn-sm btn-warning text-white ml-3 shadow rounded" %>
  </div>

  <div class="d-flex align-items-center my-3 mt-4">
    <h5>購入履歴</h5>
    <%= link_to "一覧を見る", orders_path, class:"btn btn-sm btn-warning text-white ml-5 shadow rounded" %>
  </div>

  <div class="d-flex align-items-center my-3 mt-4">
    <h5>売却履歴</h5>
    <%= link_to "一覧を見る", buyer_path, class:"btn btn-sm btn-warning text-white ml-4 shadow rounded" %>
  </div>
</div>

</div>

<div style="position: fixed; right: 20px; bottom: 20px; z-index: 1000;">
  <div>
    <%= link_to new_item_path, class: 'btn btn-warning border shadow rounded-circle d-flex justify-content-center align-items-center', style: 'width: 90px; height: 90px; font-size: 20px; color: white;' do %>
      出品 <i class="fa-solid fa-camera"></i>
    <% end %>
  </div>
</div>