<div class="row">
  <div class="offset-md-1">
    <h5 class="px-4 table-secondary"><%= @customer.full_name %>のページ</h5>
  </div>
</div>

<div class="d-flex align-items-center my-3 mt-4">
  <%= image_tag @customer.get_customer_image(50,50) %>
</div>

<table class="table table-bordered border-dark col-md-6">
  <tr>
      <td class="table-secondary border-dark">氏名</td>
      <td class="border-dark"><%= @customer.full_name %></td>
  </tr>
  <tr>
      <td class="table-secondary border-dark">カナ</td>
      <td class="border-dark"><%= @customer.full_name_kana %></td>
  </tr>
</table>

<div class="row">
  <div class="col-md-2">
    <table class="border border-dark">
      <thead>
        <th class="border border-dark py-2 px-4">ジャンル検索</th>
      </thead>
      <tbody>
        <% @tag_counts.each do |tag_name, count| %>
          <tr>
            <td class="py-1 px-3">
              <%= link_to tag_name, items_path(tag_name: tag_name), class: "btn btn-primary text-white" %>
              (<%= count %>)
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="col-md-8">
    <div class="mt-3">
      <h4>自分の登録商品</h4>
      <div class="row">
      <% @items.each do |item| %>
        <div class="col-md-3">
          <%= link_to item_path(item.id) do %>
            <%= image_tag item.get_item_image(150,100) %>
          <% end %>
          <p><%= item.name %></p>
          <p>￥<%= number_with_delimiter(item.price) %></p>
        </div>
      <% end %>
    </div>
    </div>
  </div>
</div>

<div class="d-flex">
  <%= link_to "全ての商品を見る >", items_path, class: "ml-auto" %>
</div>
