<div class="row">
  <div class="offset-md-1">
    <h5 class="px-4 table-secondary"><%= @customer.no_nick_name %>さんのページ</h5>
  </div>
</div>

<div class="d-flex align-items-center my-3 mt-4">
  <%= image_tag @customer.get_customer_image(50,50),class:"rounded-circle" %>
</div>

<table class="table table-bordered border-dark col-md-6 shadow p-3 mb-5 bg-white rounded">
  <tr>
      <td class="table-secondary border-dark">表示名</td>
      <td class="border-dark content"><%= @customer.no_nick_name %></td>
  </tr>
  <tr>
      <td class="table-secondary border-dark">所属</td>
      <td class="border-dark content">
        <%= I18n.t("enums.customer.departments.#{@customer.department}") %>
        <%= I18n.t("enums.customer.grades.#{@customer.grade}") %>
      </td>
  </tr>
</table>

<div class="row">
  <div class="col-md-2">
    <h5>タグで探す</h5>
    <table class="border border-dark except-small-screen2 content shadow p-3 mb-5 bg-white rounded">
      <thead>
        <th class="border border-dark py-2 px-4"><%= link_to "全商品を表示", items_path %></th>
      </thead>
      <tbody>
        <% @tag_counts.each do |tag_name, count| %>
          <tr>
            <td class="py-1 px-3">
              <%= link_to tag_name, items_path(tag_name: tag_name), class: "btn btn-sm btn-warning text-white" %>
              (<%= count %>)
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="col-md-12 mb-3 only-small-screen">
    <h5>タグで探す</h5>
    <table class="border border-dark content shadow p-3 mb-5 bg-white rounded">
      <thead>
        <th class="py-2 px-4"><%= link_to "全商品を表示", items_path %></th>
      </thead>
      <tbody>
        <td class="p-1">
          <% @tag_counts.each do |tag_name, count| %>
          <%= link_to tag_name, items_path(tag_name: tag_name), class: "btn btn-sm  btn-warning text-white" %>
          (<%= count %>),
        <% end %>
        </td>
      </tbody>
    </table>
  </div>

  <div class="col-md-8">
    <div class="mt-3 my-item">
      <h4>自分の登録商品</h4>
      <div class="row flex-container">
      <% @items.each do |item| %>
        <div class="item-wi">
          <%= link_to item_path(item.id) do %>
            <%= image_tag item.get_item_image(200,250), class: 'item-image shadow p-3 mb-2 bg-white rounded' %>
          <% end %>
          <p class="small-text"><%= item.name %></p>
          <p>￥<%= number_with_delimiter(item.price) %></p>
        </div>
      <% end %>
    </div>
    </div>
  </div>
</div>

<div class="d-flex">
  <%= link_to "全ての商品を見る >", items_path, class: "ml-auto" %>
</div>
