<% if flash[:notice] %>
  <p class="alert alert-danger"><%= flash[:notice] %></p>
<% end %>

<div class="row">
  <div class="offset-md-1">
    <h5 class="px-4 table-secondary mb-4">商品詳細</h5>
  </div>
  <div class="ml-3">
      <%= link_to @item.customer.no_nick_name + "さんのページ", show_information_path(@item.customer), class: "btn btn-sm btn-info ml-3" %>
    </div>
</div>

<div class="row mt-3 mb-5">
  <div class="offset-md-1 col-md-3">
    <%= image_tag @item.get_item_image(250,300) %>
  </div>

  <table class="offset-md-2 col-md-6">
    <tbody>
      <tr>
        <td class="pb-3">商品名</td>
        <td class="pb-3"><%= @item.name %></td>
      </tr>
      <tr>
        <td class="pb-3">商品説明文</td>
        <td class="pb-3"><%= @item.introduction %></td>
      </tr>
      <tr>
        <td class="pb-3">タグ名</td>
        <td class="pb-3"><%= render 'tag_list', tag_list: @item.tag_list %></td>
      </tr>
      <tr>
        <td class="pb-3">商品価格</td>
        <td class="pb-3"><%= number_with_delimiter(@item.price) %>円</td>
      </tr>
      <tr>
        <td class="pb-3">お気に入り</td>
        <td class="pb-3 favorite-<%= @item.id %>">
          <%= render "public/favorites/btn", item: @item %>
        </td>
      </tr>
      <tr>
        <td>販売ステータス</td>
        <% if @item.is_active == true %>
          <td class="text-success font-weight-bold">販売中</td>
        <% else %>
          <td class="text-secondary font-weight-bold">購入済み</td>
        <% end %>
      </tr>
    </tbody>
  </table>

</div>

<div>
  <div class="item-comments-counter">
    <%= render "public/item_comments/counter", item: @item %>
  </div>
  <% if @item.customer == current_customer %>
    <div><%= link_to 'Edit', edit_item_path(@item), class: "btn btn-sm btn-success edit_item_#{@item.id}" %></div>
    <div><%= link_to 'Destroy', @item, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger destroy_item_#{@item.id}" %></div>
  <% end %>

  <div class="item-comments-index mb-2">
    <% if @item.item_comments.any? %>
      <%= render "public/item_comments/index", item: @item %>
    <% end %>
  </div>

  <% if customer_signed_in? %>
    <%= render "public/item_comments/form", item: @item, item_comment: @item_comment %>
  <% else %>
  <p>コメントにはログインが必要です。</p>
  <% end %>
</div>
