<% if flash[:alert] %>
  <p class=""><%= alert %></p>
<% end %>

<div class="d-flex except-small-screen">
  <%= link_to "全ての商品を見る >", items_path, class: "ml-auto" %>
</div>

<div class="row">
  <div class="col-md-3 mb-3 except-small-screen">
    <table class="border border-dark content shadow rounded">
      <thead>
        <th class="border border-dark py-2 px-4">タグ検索</th>
      </thead>
      <tbody>
        <% @tag_counts.each do |tag_name, count| %>
        <tr>
          <td class="py-1 px-3">
            <%= link_to tag_name, items_path(tag_name: tag_name), class: "btn btn-sm  btn-warning text-white" %>
            (<%= count %>)
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>

  <div class="col-md-8">
    <div class="border border-dark p-2 content shadow p-3 mb-5 bg-white rounded">
      <div class="p-4">
        <span>
        BookMartは大学での参考書・資格本を取り扱います。<br>
        文理問わず、多くの学生が利用できるよう、<br>
        様々な学問に対応しております。<br>
        また、商品購入後は
        <strong> <i class="fas fa-map-marked-alt"></i> <%= link_to "近畿大学中央図書館", homes_about_path, 'data-turbolinks': false %></strong>
        で商品受け渡しをしてもらいます。<br>
        ぜひ<strong>ご出品・購入</strong>下さい。
      </span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 my-3 middle-small-screen">
        <table class="border border-dark content tag-table shadow rounded">
          <thead>
            <th class="border border-dark py-2 px-4">タグ検索</th>
          </thead>
          <tbody>
            <% @tag_counts.each do |tag_name, count| %>
            <tr>
              <td class="py-1 px-3">
                <%= link_to tag_name, items_path(tag_name: tag_name), class: "btn btn-sm  btn-warning text-white" %>
                (<%= count %>)
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>

      <div class="mt-3 col">
        <h4>新着商品</h4>
        <div class="row">
        <% @items.each do |item| %>
          <div class="col-xs-6 col-sm-6 col-md-3 item-image">
            <%= link_to item_path(item.id) do %>
              <%= image_tag item.get_item_image(150,180),class:"shadow p-3 mb-2 bg-white rounded" %>
            <% end %>
            <p class="small-text"><%= truncate(item.name, length: 20) %></p>
            <p>￥<%= number_with_delimiter(item.price) %></p>
          </div>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div style="position: fixed; right: 20px; bottom: 20px; z-index: 1000;">
  <div>
    <%= link_to new_item_path, class: 'btn btn-warning border shadow rounded-circle d-flex justify-content-center align-items-center', style: 'width: 90px; height: 90px; font-size: 20px; color: white;' do %>
      出品 <i class="fa-solid fa-camera"></i>
    <% end %>
  </div>
</div>