<div class="row">
  <div class="offset-md-1">
    <h5 class="px-4 table-secondary">注文履歴詳細</h5>
  </div>
</div>

<div class="row">

  <table class="col-md-6 mb-3">
    <tbody>
      <tr>
        <th>購入者</th>
        <td><%= @order.customer.last_name %><%= @order.customer.first_name %></td>
      </tr>
      <tr>
        <th>注文日</th>
        <td><%= @order.created_at.strftime("%Y/%m/%d") %></td>
      </tr>
      <tr>
        <th>配送先</th>
        <td>
          〒<%= @order.post_code %><%= @order.address %>
          <br><%= @order.name %>
        </td>
      </tr>
      <tr>
        <th>支払方法</th>
        <td><%= I18n.t("enums.order.payment_method.#{@order.payment_method}") %></td>
      </tr>
      <tr>
        <%= form_with model: @order, url: admin_order_path(@order.id), method: :patch do |f| %>
          <th>注文ステータス</th>
          <td>
            <%= f.select :status, Order.statuses.keys.map { |s| [I18n.t("enums.order.status.#{s}"), s] }, selected: @order.status %>
            <%= f.submit "更新", class:"btn btn-sm btn-success" %>
          </td>
        <% end %>
      </tr>
    </tbody>
  </table>

  <table class="table table-bordered border-dark">
    <thead>
        <tr>
          <td class="table-secondary border-dark">商品名</td>
          <td class="table-secondary border-dark">単価(税込）</td>
          <td class="table-secondary border-dark">数量</td>
          <td class="table-secondary border-dark">小計</td>
          <td class="table-secondary border-dark">制作ステータス</td>
        </tr>
      </thead>
    <tbody>
      <% @order_details.each do |detail| %>
        <tr>
          <td class="border-dark"><%= detail.item.name %></td>
          <td class="border-dark"><%= number_with_delimiter((detail.item.price * 1.1).to_i) %></td>
          <td class="border-dark"><%= detail.amount %></td>
          <td class="border-dark"><%= number_with_delimiter(detail.item.price * detail.amount) %></td>
          <td class="border-dark">
            <%= form_with model: detail, url: admin_order_order_detail_path(order_id: @order.id, id: detail.id), method: :patch do |f| %>
              <%= f.select :making_status, OrderDetail.making_statuses.keys.map { |s| [I18n.t("enums.order_detail.making_status.#{s}"), s] }, selected: detail.making_status %>
              <%= f.submit "更新", class:"btn btn-sm btn-success" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <table>
    <tbody>
      <tr>
        <th>商品合計</th>
        <td><%= number_with_delimiter(@order.total_payment - @order.shipping_cost) %></td>
      </tr>
      <tr>
        <th>送料</th>
        <td><%= @order.shipping_cost %></td>
      </tr>
      <tr>
        <th>請求金額合計</th>
        <td><%= number_with_delimiter(@order.total_payment) %></td>
      </tr>
    </tbody>
  </table>
</div>

