<div class="bd-highlight mt-4 mb-3">
  <% chats.each do |chat| %>
    <div class="<%= 'd-flex flex-column' if chat.customer_id == current_customer.id %>">
      <% if chat.customer_id == current_customer.id %>
        <div class="d-flex align-items-center justify-content-between">
          <%= image_tag current_customer.get_customer_image(50,50), class: "mr-1 shadow rounded" %>
          <div class="flex-grow-1">
            <%= current_customer.no_nick_name %>(自分)
          </div>
          <div class="align-self-end"> <!-- 削除ボタン -->
            <%= link_to "削除", chat_path(chat), data: {remote: true}, method: :delete, "data-confirm" => "このメッセージを削除しますか？", class:"" %>
          </div>
        </div>
      <% else %>
        <div>
          <%= image_tag chat.customer.get_customer_image(50,50), class:"mr-1 shadow rounded" %>
          <%= chat.customer.no_nick_name %>さん
        </div>
      <% end %>


      <div class="p-2">

        <div class="rounded-lg p-2 rounded-lg content shadow p-3 mb-2 bg-white rounded">
          <%= chat.message %><br>
          <div class="pt-2">
            <%= chat.created_at.strftime('%Y年%m月%d日 %H:%M') %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
