<div class="bd-highlight mt-4 mb-3">
  <% chats.each do |chat| %>
    <div class="<%= 'd-flex flex-column' if chat.customer_id == current_customer.id %>">
      <% if chat.customer_id == current_customer.id %>
        <div>
          <%= image_tag @customer.get_customer_image(50,50) %>
          <%= my_name %>
        </div>
      <% else %>
        <div>
          <%= image_tag @customer.get_customer_image(50,50) %>
          <%= chat.customer.name %>さん
        </div>
      <% end %>

      <div class="p-2">
        <div class="<%= chat.customer_id == current_customer.id ? 'rounded-lg table-secondary p-2' : 'rounded-lg bg-light h4' %>">
          <%= chat.message %><br>
          <div class="pt-2">
            <%= chat.created_at.strftime('%Y年%m月%d日 %H:%M') %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
