<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div>
        <h5 class="px-4 table-secondary mb-3">商品詳細</h5>
        <%= link_to @item.customer.full_name + "さん", show_information_path(@item.customer), class: "btn btn-sm btn-info ml-3 mb-2" %>
      </div>
      
      <div class="j-content">
        <%= image_tag @item.get_item_image(200,250), class: 'item-img' %>
      
        <table class="mb-3">
          <tbody>
            <tr>
              <td class="pb-3 small-text">名前</td>
              <td class="pb-3 small-text"><%= @item.name %></td>
            </tr>
            <tr>
              <td class="pb-3 small-text">価格</td>
              <td class="pb-3 small-text"><%= number_with_delimiter(@item.price) %>円</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="offset-md-1 col-md-8">
      <% if current_customer != @item.buyer %>
        <h2><%= @item.buyer.full_name %> さんとのチャット</h2>
      <% else %>
        <h2><%= @item.customer.full_name %> さんとのチャット</h2>
      <% end %>
      <p>
      基本的には
      <%= link_to "近畿大学中央図書館", homes_about_path %>
      での、本人同士の清算・受け渡しになります。
      </p>
      <div class="message">
        <%= render "public/chats/message", chats: @chats, customer: @customer, my_name: @my_name %>
      </div>

      <%= form_with model: @chat, data: {remote: true} do |f| %>
        <div class="errors">
          <%= render "layouts/errors", obj: f.object %>
        </div>
        <div class="form-group">
          <%= f.text_field :message, placeholder: "メッセージを入力してください", autocomplete: "off", class: 'form-control' %>
        　<%= f.hidden_field :room_id, value: @room.id %>
        </div>
        <%= f.submit "送信", class:"mb-3 btn btn-success" %>
      <% end %>
    </div>
  </div>
</div>