<div class="chat-container">
  <div class="chat-topbar">
    <h2><%= @customer.full_name %> さんとのチャット</h2>
  </div>
  <div class="message">
    <%= render "public/chats/message", chats: @chats %>
  </div>

  <div class="chat-form">
    <%= form_with model: @chat, data: {remote: true} do |f| %>
      <div class="errors">
        <%#= render "layouts/errors", obj: f.object %>
      </div>
      <%= f.text_field :message, placeholder: "メッセージを入力してください", autocomplete: "off" %>
      <%= f.hidden_field :room_id, value: @room.id %>
      <%= f.submit "送信" %>
    <% end %>
  </div>
</div>