<% visitor = notice.visitor %>
<% visited = notice.visited %>
<div class="col-md-6 mx-auto">
  <div class="form-inline">
    <span>
      <%= link_to show_information_path(visitor) do %>
        <%= image_tag visitor.get_customer_image(50, 50), class: "icon_mini" %>
        <strong><%= visitor.full_name %></strong>
      <% end %>
      さんから
      <%= link_to 'チャットメッセージ', chat_path(notice.chat.room), style: "font-weight: bold;" if notice.chat.present? %>
      が届きました
    </span>
    
  </div>
  <div class="text-muted mb-0 ml-5">
    <%= notice.chat.message if notice.chat.present? %>
  </div>
  <div class="small text-muted text-right">
    <%= time_ago_in_words(notice.created_at).upcase %>
  </div>
  <hr>
</div>
