<% sender = notice.sender %>
<% recipient = notice.recipient %>
<div class="col-md-6 mx-auto">
  <div class="form-inline">
    <span>
      <%= link_to user_path(sender) do %>
        <%= image_tag avatar_url(sender).to_s, class: "icon_mini" %>
        <strong><%= sender.name %></strong>
      <% end %>
      さんから
      <%= link_to 'チャットメッセージ', chat_path(notice.chat), style: "font-weight: bold;" %>
      が届きました
    </span>
    <p class="text-muted mb-0">
      <%= notice.message %>
    </p>
  </div>
  <div class="small text-muted text-right">
    <%= time_ago_in_words(notice.created_at).upcase %>
  </div>
  <hr>
</div>
