<div class="row">
  <div class="offset-md-1">
    <h5 class="px-4 table-secondary mb-4">新規会員登録</h5>
  </div>
</div>

<%= form_with model: @customer, url: customer_registration_path do |f| %>
  <%= render "public/shared/error_messages", resource: resource %>

  <div class="form-group row">
    <label for="inputName" class="col-sm-2 col-form-label">名前</label>
    <div class="col-sm-5">
      (姓)<%= f.text_field :last_name, autofocus: true, id:"inputLast_name", placeholder:"令和", class:"form-control" %>
      (名)<%= f.text_field :first_name, autofocus: true, id:"inputFirst_name", placeholder:"道子", class:"form-control" %>
    </div>
  </div>
  
  <div class="form-group row">
    <label for="inputName_kana" class="col-sm-2 col-form-label">フリガナ</label>
    <div class="col-sm-5">
      (セイ)<%= f.text_field :last_name_kana, autofocus: true, id:"inputLast_name_kana", placeholder:"レイワ", class:"form-control" %>
      (メイ)<%= f.text_field :first_name_kana, autofocus: true, id:"inputFirst_name_kana", placeholder:"ミチコ", class:"form-control" %>
    </div>
  </div>
  
  <div class="form-group row">
    <label for="inputEmail" class="col-sm-2 col-form-label">メールアドレス</label>
    <div class="col-sm-5">
      <%= f.email_field :email, autofocus: true, id:"inputEmail", placeholder:"sample@example.com", class:"form-control" %>
    </div>
  </div>
  
  <div class="form-group row">
    <label for="inputPost_code" class="col-sm-2 col-form-label">郵便番号(ハイフンなし)</label>
    <div class="col-sm-5">
      <%= f.text_field :post_code, autofocus: true, id:"inputPost_code", placeholder:"00000000", class:"form-control" %>
    </div>
  </div>
  
  <div class="form-group row">
    <label for="inputAddress" class="col-sm-2 col-form-label">住所</label>
    <div class="col-sm-5">
      <%= f.text_field :address, autofocus: true, id:"inputAddress", placeholder:"東京都渋谷区代々木神園町0-0", class:"form-control" %>
    </div>
  </div>
  
  <div class="form-group row">
    <label for="inputPhone_number" class="col-sm-2 col-form-label">電話番号(ハイフンなし)</label>
    <div class="col-sm-5">
      <%= f.text_field :phone_number, autofocus: true, id:"inputPhone_number", placeholder:"00000000000", class:"form-control" %>
    </div>
  </div>
  
  <div class="form-group row">
    <label for="inputPassword" class="col-sm-2 col-form-label">パスワード(6文字以上)</label>
    <div class="col-sm-5">
      <%= f.password_field :password, autofocus: true, id:"inputPassword", autocomplete: "new-password", class:"form-control" %>
    </div>
  </div>
  
  <div class="form-group row">
    <label for="inputPassword_confirmation" class="col-sm-2 col-form-label">パスワード(確認用)</label>
    <div class="col-sm-5">
      <%= f.password_field :password_confirmation, autofocus: true, id:"inputPassword_confirmation", class:"form-control" %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit "新規登録", class:"btn btn-success" %>
  </div>
<% end %>


<div class="row">
  <h5 class="px-4 table-secondary my-4">既に登録済みの方</h5>
</div>

<div class="row">
  <div class="offset-md-1">
    <%= render "public/shared/links" %>
  </div>
</div>

