<div class="row">
  <div class="offset-md-1">
    <h5 class="px-4 table-secondary">注文情報確認</h5>
  </div>
</div>

<p id="notice">
  <%= flash.now[:error] %>
</p>

<div class="row">
  <div class="col-md-8">
    <table class="table table-bordered border-dark">
      <thead>
        <tr>
          <td class="table-secondary border-dark">商品名</td>
          <td class="table-secondary border-dark">単価(税込)</td>
          <td class="table-secondary border-dark">商品画像</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="border-dark"><%= @order.item.name %></td>
          <td class="border-dark"><%= @order.item.price %></td>
          <td class="border-dark"><%= image_tag @order.item.get_item_image(30,30) %></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="col-md-3">
    <table>
      <tbody class="table table-bordered border-dark">
        <tr>
          <td class="table-secondary border-dark">商品合計</td>
          <td class="border-dark"><%=  number_with_delimiter(@order.item.price) %></td>
        </tr>
        <tr>
          <td class="table-secondary border-dark">請求金額</td>
          <td class="border-dark"><%= number_with_delimiter(@item.price) %></td>
        </tr>
      </tbody>
    </table>
  </div>

</div>



<div class="row">

  <table class="">
    <tbody>
      <tr>




      </tr>
      <tr>




        </td>
      </div>
      </tr>
    </tbody>
  </table>



</div>

<div class="d-flex align-items-center my-3 mt-4">
  <%= form_with model: @order, url: orders_path do |f| %>
    <%= f.hidden_field :item_id, value: @item.id %>
    <%= f.hidden_field :name, value: @item.name %>
    <%= f.submit "注文を確定する", "data-confirm" => "注文を確定しますか", class:"btn btn-success mx-auto" %>
  <% end %>
</div>