<div class="row">
  <div class="offset-md-1">
    <h5 class="px-4 table-secondary">注文情報確認</h5>
  </div>
</div>

<p id="notice">
  <%= flash.now[:error] %>
</p>

<div class="row">
  <div class="col-md-8">
    <table class="table table-bordered border-dark">
      <thead>
        <tr>
          <td class="table-secondary border-dark">商品名</td>
          <td class="table-secondary border-dark">商品価格</td>
          <td class="table-secondary border-dark">商品画像</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="border-dark"><%= @order.item.name %></td>
          <td class="border-dark"><%= number_with_delimiter(@order.item.price) %></td>
          <td class="border-dark"><%= image_tag @order.item.get_item_image(30,30) %></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="col-md-3">
    <table>
      <tbody class="table table-bordered border-dark">
        <tr>
          <td class="table-secondary border-dark">出品者のページ</td>
          <td class="border-dark">
            <%= link_to @item.customer.full_name + "さんのページ", show_information_path(@item.customer), class: "btn btn-info" %>
          </td>
        </tr>
        <tr>
          <td class="table-secondary border-dark">取引場所</td>
          <td class="border-dark">近畿大学 - 図書館</td>
        </tr>
      </tbody>
    </table>
  </div>

</div>

<p class="mt-3">取引画面で、出品者とのDMで受け取り時間を決めてください。</p>
<div class="d-flex align-items-center my-3 mt-4">
  <%= form_with model: @order, url: orders_path do |f| %>
    <%= f.hidden_field :item_id, value: @item.id %>
    <%= f.hidden_field :name, value: @item.name %>
    <%= f.submit "取引画面へ", "data-confirm" => "注文を確定しますか", class:"btn btn-success mx-auto" %>
  <% end %>
</div>