
<% if flash[:alert] %>
  <p class="alert alert-success"><%= alert %></p>
<% end %>
  
<div class="row">
  <div class="offset-md-1 mb-4">
    <h5 class="px-4 table-secondary">注文履歴詳細</h5>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <p>売却情報</p>
      <table class="table table-bordered border-dark">
        <tbody>
          <tr>
            <td class="table-secondary border-dark">売却日</td>
            <td class="border-dark">
              <%= @order.created_at.strftime("%Y/%m/%d") %>
            </td>
          </tr>
          <tr>
            <td class="table-secondary border-dark">売却商品</td>
            <td class="border-dark">
                <%= @order.item.name %>
            </td>
          </tr>
          <tr>
            <td class="table-secondary border-dark">ステータス</td>
            <td class="border-dark">
              <%= form_with model: @order, url: order_path(@order.id), method: :patch do |f| %>
                <%= f.select :status, Order.statuses.keys.map { |s| [I18n.t("enums.order.status.#{s}"), s] }, selected: @order.status %>
                <%= f.submit "更新", class:"btn btn-sm btn-success" %>
              <% end %>
            </td>

        </tbody>
      </table>
  </div>

  <div class="col-md-3">
    <p>金額情報</p>
    <table class="table table-bordered border-dark">
    <tbody>
      <tr>
        <td class="table-secondary border-dark">受取金額</td>
        <td class="border-dark"><%= number_with_delimiter(@order.item.price) %>円</td>
      </tr>
    </tbody>
    </table>
  </div>


  <div class="">
    <p>売却内容</p>
    <table class="table table-bordered border-dark">
      <thead>
          <tr>
            <td class="table-secondary border-dark">商品名</td>
            <td class="table-secondary border-dark">取引場所</td>
            <td class="table-secondary border-dark">商品詳細</td>
            <td class="table-secondary border-dark">チャット</td>
            <td class="table-secondary border-dark">出品者</td>
            <td class="table-secondary border-dark">購入者</td>
          </tr>
        </thead>
      <tbody>
        <tr>
          <td class="border-dark"><%= image_tag @order.item.get_item_image(30, 30) %><%= @order.item.name %></td>
          <td class="border-dark">近畿大学 - 図書館</td>
          <td class="border-dark"><%= link_to "商品ページ", item_path(@order.item), class: "btn btn-sm btn-info" %></td>
          <td class="border-dark"><%= link_to "チャットへ", chat_path(@order.item.customer_room), class: "btn btn-sm btn-success" %></td>
          <td class="border-dark"><%= link_to @order.item.customer.full_name + "さん", show_information_path(@order.item.customer), class: "btn btn-sm btn-info" %></td>
          <td class="border-dark"><%= link_to @order.customer.full_name + "さん", show_information_path(@order.customer), class: "btn btn-sm btn-info" %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

