<div class="row">
  <div class="offset-md-1 mb-4">
    <h5 class="px-4 table-secondary">注文履歴詳細</h5>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <p>購入情報</p>
      <table class="table table-bordered border-dark shadow p-3 mb-5 bg-white rounded">
        <tbody>
          <tr>
            <td class="table-secondary border-dark">購入日</td>
            <td class="border-dark content"><%= @order.created_at.strftime("%Y/%m/%d") %></td>
          </tr>
          <tr>
            <td class="table-secondary border-dark">購入商品</td>
            <td class="border-dark content"><%= @order.item.name %></td>
          </tr>
          <tr>
            <td class="table-secondary border-dark">ステータス</td>
            <td class="border-dark content"><%= I18n.t("enums.order.status.#{@order.status}") %></td>
        </tbody>
      </table>
  </div>

  <div class="col-md-3">
    <p>支払情報</p>
    <table class="table table-bordered border-dark shadow p-3 mb-5 bg-white rounded">
    <tbody>
      <tr>
        <td class="table-secondary border-dark">支払額</td>
        <td class="border-dark content"><%= number_with_delimiter(@order.item.price) %>円</td>
      </tr>
    </tbody>
    </table>
  </div>


  <div class="">
    <p>購入内容</p>
    <table class="table table-bordered border-dark shadow p-3 mb-5 bg-white rounded">
      <thead>
        <tr>
          <td class="table-secondary border-dark">商品名</td>
          <td class="table-secondary border-dark">取引場所</td>
          <td class="table-secondary border-dark">商品詳細</td>
          <td class="table-secondary border-dark">チャット</td>
          <td class="table-secondary border-dark">出品者</td>
          <td class="table-secondary border-dark">購入者</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="border-dark content"><%= image_tag @order.item.get_item_image(30, 30) %><%= @order.item.name %></td>
          <td class="border-dark content">近畿大学 - 図書館</td>
          <td class="border-dark content"><%= link_to "商品ページ", item_path(@item), class: "btn btn-sm btn-info shadow rounded" %></td>
          <td class="border-dark content"><%= link_to "チャットへ", chat_path(@item.customer_room), class: "btn  btn-sm btn-success shadow rounded" %></td>
          <td class="border-dark content"><%= link_to @item.customer.no_nick_name + "さん", show_information_path(@item.customer), class: "btn  btn-sm btn-info shadow rounded" %></td>
          <td class="border-dark content"><%= link_to @order.customer.no_nick_name + "さん", show_information_path(@order.customer), class: "btn btn-sm btn-info shadow rounded" %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

