<div class="row">
  <div class="offset-md-1 mb-4">
    <h5 class="px-4 table-secondary">注文履歴詳細</h5>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <p>注文情報</p>
      <table class="table table-bordered border-dark">
        <tbody>
          <tr>
            <td class="table-secondary border-dark">注文日</td>
            <td class="border-dark">
              <%= @order.created_at.strftime("%Y/%m/%d") %>
            </td>
          </tr>
          <tr>
            <td class="table-secondary border-dark">注文商品</td>
            <td class="border-dark">
                <%= @order.item.name %>
            </td>
          </tr>
          <tr>
            <td class="table-secondary border-dark">ステータス</td>
            <td class="border-dark"><%= I18n.t("enums.order.status.#{@order.status}") %></td>
        </tbody>
      </table>
  </div>

  <div class="col-md-3">
    <p>請求情報</p>
    <table class="table table-bordered border-dark">
    <tbody>
      <tr>
        <td class="table-secondary border-dark">ご請求額</td>
        <td class="border-dark"><%= number_with_delimiter(@order.item.price) %>円</td>
      </tr>
    </tbody>
    </table>
  </div>


  <div class="col-md-7">
    <p>注文内容</p>
    <table class="table table-bordered border-dark">
      <thead>
          <tr>
            <td class="table-secondary border-dark">商品</td>
            <td class="table-secondary border-dark">単価（税込）</td>
            <td class="table-secondary border-dark">小計</td>
          </tr>
        </thead>
      <tbody>
        <tr>
          <td class="border-dark"><%= image_tag @order.item.get_item_image(30, 30) %><%= @order.item.name %></td>
          <td class="border-dark"><%= number_with_delimiter((@order.item.price * 1.1).to_i) %>円</td>
          <td class="border-dark"><%= number_with_delimiter(@order.item.price) %>円</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

