<% visitor = notice.visitor %>
<% visited = notice.visited %>
<div class="col-md-6 content p-3 mx-auto">
  <div class="form-inline">
    <span>
      <%= link_to show_information_path(visitor) do %>
        <%= image_tag visitor.get_customer_image(50, 50), class: "icon_mini" %>
        <strong><%= visitor.no_nick_name %></strong>
      <% end %>
      <% if notice.action == 'item' %>
        さんが新しい商品を追加されました！
        <%= link_to '商品詳細', item_path(notice.item) %>
      <% elsif notice.action == 'customer' %>
        さんが新しく登録されました！
      <% elsif notice.action == 'order' && notice.order.present? && notice.order.item.present? %>
        <% if notice.order.item.buyer_id %>
          さんが商品を取引しました!
          (<%= link_to '注文詳細', admin_order_path(notice.order), style: "font-weight: bold;" %>)
        <% end %>
      <% elsif notice.action == 'order_status_update' %>
        さんと<%= visited.no_nick_name %>さんの取引状況が更新されました!
        (<%= link_to '注文詳細', admin_order_path(notice.order), style: "font-weight: bold;" %>)
      <% end %>
    </span>
  </div>
  <div class="small text-muted text-right">
    <%= time_ago_in_words(notice.created_at).upcase %>
  </div>
  <hr>
</div>
