<table class="table mt-3 content responsive-table">
  <thead class="table-secondary">
    <tr>
      <th class="text-center">商品</th>
      <th class="text-center">名前</th>
      <th class="text-center"><%= sort_link(@q, :price, "価格") %></th>
      <th class="text-center">タグ</th>
      <th class="text-center"><%= sort_link(@q, :favorites_count, 'お気に入り数') %></th>
      <th class="text-center"><%= sort_link(@q, :is_active, "販売状況") %></th>
    </tr>
  </thead>
  <tbody>
    <% items.each do |item| %>
    <tr>
      <td class="item-image">
        <%= link_to item_path(item.id) do %>
          <%= image_tag item.get_item_image(100,100), class: 'img-fluid' %>
        <% end %>
      </td>
      <td class="small-text">
        <%= link_to item_path(item.id) do %>
          <%= item.name %>
        <% end %>
      </td>
      <td class="item-price"><%= number_with_delimiter(item.price) %></td>
      <td class="item-tags"><%= render 'tag_list', tag_list: item.tag_list %></td>
      <td class="favorite-<%= item.id %>">
        <%= render "public/favorites/btn", item: item %>
      </td>
      <% if item.is_active == true %>
        <td class="item-status text-success font-weight-bold">販売中</td>
      <% else %>
        <td class="item-status text-secondary font-weight-bold">購入済み</td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>
