<table class="table mt-3 content responsive-table">
  <thead>
    <tr>
      <th>商品</th>
      <th>名前</th>
      <th><%= sort_link(@q, :price, "価格") %></th>
      <th>タグ</th>
      <th><%= sort_link(@q, :is_active, "販売状況") %></th>
    </tr>
  </thead>
  <tbody>
    <% items.each do |item| %>
    <tr>
      <td class="item-image">
        <%= link_to item_path(item.id) do %>
          <%= image_tag item.get_item_image(100,100), class: 'img-fluid' %>
        <% end %>
      </td>
      <td class="item-name">
        <%= link_to item_path(item.id) do %>
          <%= item.name %>
        <% end %>
      </td>
      <td class="item-price"><%= number_with_delimiter(item.price) %></td>
      <td class="item-tags"><%= render 'tag_list', tag_list: item.tag_list %></td>
      <td class="item-status">
        <% if item.is_active == true %>
          <span class="text-success font-weight-bold">販売中</span>
        <% else %>
          <span class="text-secondary font-weight-bold">購入済み</span>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
