<div class="row">
  <div class="offset-1">
    <h5 class="px-4 table-secondary mb-4">商品リスト</h5>
  </div>
</div>
<div class="row justify-content-end">
  <div class="col-auto mt-2">
    <%= link_to new_item_path, class: 'btn btn-warning border shadow rounded-circle d-flex justify-content-center align-items-center', style: 'width: 90px; height: 90px; font-size: 20px; color: white;' do %>
      出品 <i class="fa-solid fa-camera"></i>
    <% end %>
  </div>
</div>
<div>
  <h4>(全 <%= @items.count %>件)</h4>
</div>

<% if @items.first %> <!-- @item.existsと同義、SQL1個分削減(?) -->
	<%= render 'index', items: @items %>
	<%= paginate @items %>
<% else %>
	<h3>対応する商品はありませんでした。</h3>
<% end %>

<div class="row justify-content-center">
  <%= paginate @items %>
</div>
