<div class="row">
  <div class="offset-md-1">
    <h5 class="px-4 table-secondary mb-4">商品詳細</h5>
  </div>
</div>

<% if flash[:alert] %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>

<div class="row mt-3">
  <div class="col-md-4">
    <%= image_tag @item.get_item_image(250,300) %>
  </div>

  <table class="col-md-7">
    <tbody>
      <tr>
        <td class="pb-3">商品名</td>
        <td class="pb-3"><%= @item.name %></td>
      </tr>
      <tr>
        <td class="pb-3">商品説明文</td>
        <td class="pb-3"><%= @item.introduction %></td>
      </tr>
      <tr>
        <td class="pb-3">タグ名</td>
        <td class="pb-3"><%= render 'tag_list', tag_list: @item.tag_list %></td>
      </tr>
      <tr>
        <td class="pb-3">商品価格</td>
        <td class="pb-3"><%= number_with_delimiter(@item.price) %>円</td>
      </tr>
      <tr>
        <td>販売ステータス</td>
        <% if @item.is_active == true %>
          <td class="text-success font-weight-bold">販売中</td>
        <% else %>
          <td class="text-secondary font-weight-bold">購入済み</td>
        <% end %>
      </tr>
    </tbody>
  </table>

</div>

<div class="row mt-5">
  <% if current_customer && @item.customer_id == current_customer.id %>
    <div>
      <% if @item.is_active == true %>
      <%= link_to "編集する", edit_item_path(@item.id), class:"btn btn-success mx-auto" %>
      <% end %>
      <%= link_to "削除する", item_path(@item.id), method: :delete, "data-confirm" => "本当に削除しますか？",  class:"btn btn-danger mx-auto" %>
    </div>

    <h4>ご自身の登録商品です</h4>
    <h4>購入できません。</h4>
  <% end %>

  <div class="m-5 mx-auto">

    <% if @item.is_active == false %>
      <h4>この商品は既に購入されました。</h4>
    <% else %>
      <% unless current_customer && @item.customer_id == current_customer.id %>
       <%= form_with model: @order, url: orders_confirm_path, class:"mt-2" do |f| %>
        <table>
          <td>
            <%= f.hidden_field :item_id, value: @item.id %>
          </td>
          <td>
            <% if customer_signed_in? %>
              <%= f.submit "購入手続きに進む", class:"btn btn-success" %>
            <% else %>
              <%= link_to "購入手続きに進む", new_customer_session_path, class:"btn btn-success" %>
            <% end %>
          </td>
        </table>
        <% end %>
    <% end %>
    </div>
  <% end %>
</div>

