<div class="container">
  <div class="row">
    <div class="offset-md-1">
      <h5 class="px-4 table-secondary mb-4">商品詳細</h5>
    </div>
    <div class="ml-3">
      <%= link_to @item.customer.no_nick_name + "さんのページ", show_information_path(@item.customer), class: "btn btn-sm btn-info ml-3" %>
    </div>
  </div>

  <div class="">
  <p class="ml-5">基本的には
   <i class="fas fa-map-marked-alt"></i> <%= link_to "近畿大学中央図書館", homes_about_path, 'data-turbolinks': false %>
  の、本人同士の清算・受け渡しになります。</p>
  <div class="row mt-3">
    <div class="offset-md-1 col-md-3">
      <%= image_tag @item.get_item_image(250,300), class:"item-image shadow p-3 mb-5 bg-white rounded" %>
    </div>

    <div class="offset-md-2 item-introduction">
      <div class="row mb-3">
        <div class="p-1 px-2 mr-3 item-im">名前</div>
        <div class="col-md-9"><%= @item.name %></div>
      </div>
      <div class="row mb-3">
        <div class="p-1 px-2 item-im">説明文</div>
        <div class="col-md-9"><%= @item.introduction %></div>
      </div>
      <div class="row mb-3">
        <div class="d-flex p-1 px-2 mr-3 item-im">タグ</div>
        <div class="col-md-9"><%= render 'tag_list', tag_list: @item.tag_list %></div>
      </div>
      <div class="row mb-3">
        <div class="p-1 px-2 mr-3 item-im">価格</div>
        <div class="col-md-9"><%= number_with_delimiter(@item.price) %>円</div>
      </div>
      <div class="row mb-3">
        <div class="p-1 px-2 item-im">お気に入り</div>
        <div class="col-md-9 favorite-<%= @item.id %>">
          <%= render "public/favorites/btn", item: @item %>
        </div>
      </div>
      <div class="row">
        <div class="p-1 px-2 item-im">販売状況</div>
        <% if @item.is_active == true %>
          <div class="col-md-9 text-success font-weight-bold">販売中</div>
        <% else %>
          <div class="col-md-9 text-secondary font-weight-bold">購入済み</div>
        <% end %>
      </div>
    </div>


  </div>

  <div>
    <div class="item-comments-counter">
      <%= render "public/item_comments/counter", item: @item %>
    </div>

    <div class="item-comments-index mb-2">
      <% if @item.item_comments.any? %>
        <%= render "public/item_comments/index", item: @item %>
      <% end %>
    </div>

    <% if customer_signed_in? %>
      <%= render "public/item_comments/form", item: @item, item_comment: @item_comment %>
    <% else %>
    <p>ログイン後、コメントが可能になります。</p>
    <% end %>
  </div>

  <div class="row buy-button">
    <% if current_customer && @item.customer_id == current_customer.id %>
      <div>
        <h4>ご自身の登録商品です。購入できません。</h4>
        <% if @item.is_active == true %>
        <%= link_to "商品編集", edit_item_path(@item.id), class:"btn btn-sm btn-success mx-auto" %>
        <% end %>
        <%= link_to "削除", item_path(@item.id), method: :delete, "data-confirm" => "本当に削除しますか？",  class:"btn btn-sm btn-danger mx-auto" %>
      </div>

    <% end %>

    <div class="mx-auto">

      <% if @item.is_active == false %>
        <h4>この商品は既に購入されました。</h4>
      <% else %>
        <% unless current_customer && @item.customer_id == current_customer.id %>
         <%= form_with model: @order, url: orders_confirm_path, class:"mt-2" do |f| %>
          <table>
            <td>
              <%= f.hidden_field :item_id, value: @item.id %>
            </td>
            <td>
              <%= f.submit "購入手続きに進む", class:"btn btn-success shadow mb-2 rounded" %>
            </td>
          </table>
          <% end %>
      <% end %>
      </div>
    <% end %>
  </div>

</div>


