<div class="row">
  <div class="offset-md-1">
    <h5 class="px-4 table-secondary mb-4">商品詳細</h5>
  </div>
</div>

<div class="row mt-3">
  <div class="col-md-4">
    <%= image_tag @item.get_item_image(250,300) %>
  </div>

  <table class="col-md-7">
    <tbody>
      <tr>
        <td class="pb-3">商品名</td>
        <td class="pb-3"><%= @item.name %></td>
      </tr>
      <tr>
        <td class="pb-3">商品説明文</td>
        <td class="pb-3"><%= @item.introduction %></td>
      </tr>
      <tr>
        <td class="pb-3">ジャンル名</td>
        <td class="pb-3"><%#= @item.genre.name %></td>
      </tr>
      <tr>
        <td class="pb-3">税込価格<br>(税抜価格)</td>
        <td class="pb-3"><%= number_with_delimiter((@item.price * 1.1).to_i) %>(<%= number_with_delimiter(@item.price) %>)円</td>
      </tr>
      <tr>
        <td>販売ステータス</td>
        <% if @item.is_active == true %>
          <td class="text-success font-weight-bold">販売中</td>
        <% else %>
          <td class="text-secondary font-weight-bold">販売停止中</td>
        <% end %>
      </tr>
    </tbody>
  </table>

</div>

<div class="row mt-5">
  <div>
    <% if @item.customer_id == current_customer.id %>
      <%= link_to "編集する", edit_item_path(@item.id), class:"btn btn-success mx-auto" %>
    <% end %>
  </div>
  
  <div class="row mt-5 ml-auto align-items-center">

     <%= form_with model: [@item, @cart_item], class:"mt-2" do |f| %>
      <table>
        <p>数量を選択して下さい。</p>
        <td>
          <%= f.hidden_field :item_id, value: @item.id %>
          <%= f.select :amount, (1..10), {selected: 1}, class: 'form-control form-control-sm' %>
        </td>
        <td>
          <% if customer_signed_in? %>
            <%= f.submit "カートに入れる", class:"btn btn-success" %>
          <% else %>
            <%= link_to "カートに入れる", new_customer_session_path, class:"btn btn-success" %>
          <% end %>
        </td>
      </table>
      <% end %>

    </div>
</div>

