<li class="mr-5 content">
  <%= link_to "マイページ", mypage_path, class:"btn btn-outline-secondary" %>
</li>
<li class="mr-5 content">
  <%= link_to "商品一覧", items_path, class:"btn btn-outline-secondary" %>
</li>
<li class="mr-5 content">
  <%= link_to notices_path, class:"btn btn-outline-secondary" do %>
    通知
    <% if current_customer && @unchecked_notices.present? && @unchecked_notices.any? %>
      <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger text-white">
        <%= @unchecked_notices.count %>
        <span class="visually-hidden">件の通知</span>
      </span>
    <% end %>
  <% end %>
</li>
<li class="content">
  <%= link_to "ログアウト", destroy_customer_session_path, method: :delete, class:"btn btn-outline-secondary" %>
</li>