<li class="mr-5 content">
  <%= link_to mypage_path, class:"btn btn-outline-secondary" do %>
    <i class="fas fa-user"></i> マイページ
  <% end %>
</li>
<li class="mr-5 content">
  <%= link_to items_path, class:"btn btn-outline-secondary" do %>
    <i class="fas fa-book"></i> 商品一覧
  <% end %>
</li>
<li class="mr-5 content only-small-screen">
  <%= link_to items_tag_path, class:"btn btn-outline-secondary" do %>
    <i class="fas fa-tags"></i> タグ検索
  <% end %>
</li>
<li class="mr-5 content">
  <%= link_to notices_path, class:"btn btn-outline-secondary" do %>
    <i class="fas fa-envelope"></i> 通知
    <% if @unchecked_notices.any? %>
      <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger text-white">
        <%= @unchecked_notices.count %>
        <span class="visually-hidden">件の通知</span>
      </span>
    <% end %>
  <% end %>
</li>
<li class="content">
  <%= link_to destroy_customer_session_path, method: :delete, class:"btn btn-outline-secondary" do %>
    <i class="fas fa-sign-out-alt"></i> ログアウト
  <% end %>
</li>