<!DOCTYPE html>
<html>
  <head>
    <title>ブックマート - 大学内中古参考書取引サイト</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/7654f8b8fe.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  </head>

  <body class="d-flex flex-column min-vh-100">
    <header class="shadow-lg mb-1 p-3">
      <div class="row">
        <div>
          <%= link_to root_path, class:"btn btn-lg btn-outline-secondary px-5 mx-3" do %>
            <i class="fas fa-home"></i> LOGO
          <% end %>
        </div>

        <div>
          <%= search_form_for @q, url: search_items_path do |f| %>
            <div class="mb-2 mt-1 search">
              <div class="input-group">
                <%= f.search_field :name_cont, class: "form-control", placeholder: "書籍検索" %>
                <div class="input-group-append">
                  <%= f.button class: "btn btn-secondary", type: "submit" do %>
                    <i class="fas fa-search"></i>
                  <% end %>
                </div>
              </div>
            </div>
            <!--<div>-->
            <!--  出品日-->
            <!--  <%#= f.radio_button :created_at_gteq, Date.today.at_beginning_of_week, id: 'created_at_this_week' %> 今週-->
            <!--  <%#= f.radio_button :created_at_gteq, Date.today.at_beginning_of_month, id: 'created_at_this_month' %> 今月-->
            <!--  <%#= f.radio_button :created_at_gteq, Date.today.at_beginning_of_year, id: 'created_at_this_year', checked: true %> 今年-->
            <!--</div>-->
          <% end %>
        </div>



        <!-- ゲスト機能と未ログインとの差がないので凍結-->
                <!--<%# unless customer_signed_in? || admin_signed_in? %>-->
                <!--  <div class="col-md-3">-->
                <!--    <div>-->
                <!--      <%#= link_to 'ゲストログイン(閲覧用)', guest_sign_in_path, method: :post %>-->
                <!--    </div>-->
                <!--  </div>-->
                <!--<%# end %>-->
        <!--ここまで-->
        <div class="col ml-5 mt-2">
          <% if customer_signed_in? %>
            <div class="col-md-3">
              <div class="btn btn-sm btn-success">
                <%= link_to current_customer.no_nick_name, mypage_path, class:"text-white" %>
              </div>
            </div>
          <% elsif admin_signed_in? %>
            <div class="col-md-3">
              <div>
                運営者さん
              </div>
            </div>
          <% end %>
        </div>

      </div>

      <%= render "layouts/side_bar" %>

    </header>

    <main class="container-fluid flex-grow-1 shadow-lg mb-1 p-3 rounded background-wrapper">
      <div class="mt-5 xside">
        <% if flash[:alert] %>
          <p class="alert alert-danger"><%= alert %>新規登録のリンクは<%= link_to "こちら", new_customer_registration_path %></p>
        <% end %>
        <%= yield %>
      </div>
    </main>


    <footer class="container-fluid shadow p-3 bg-white rounded p-4">
      <div class="text-center">
        <p>© 2024 jag-800</p>
      </div>
    </footer>
  </body>
</html>

