<!DOCTYPE html>
<html>
  <head>
    <title>BookMart</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/7654f8b8fe.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  </head>

  <body class="d-flex flex-column min-vh-100">
    <header class="border border-dark">
      <nav class="navbar navbar-expand-lg navbar-light px-4">
        <%= link_to "LOGO", root_path, class:"btn btn-lg btn-outline-secondary px-5" %>
        <div class="d-flex flex-column mt-3 ml-auto">
          <ul class="row list-unstyled mr-auto">
            <% if admin_signed_in? %>
              <li class="mr-5">
                <%= link_to "商品一覧", admin_items_path, class:"btn btn-outline-secondary" %>
              </li>
              <li class="mr-5">
                <%= link_to "会員一覧", admin_customers_path, class:"btn btn-outline-secondary" %>
              </li>
              <li class="mr-5">
                <%= link_to "注文履歴一覧", admin_orders_path, class:"btn btn-outline-secondary" %>
              </li>
              <li class="mr-5">
                <%= link_to "通知", admin_notices_path, class:"btn btn-outline-secondary" %>
              </li>
              <li class="">
                <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class:"btn btn-outline-secondary" %>
              </li>
            <% elsif customer_signed_in? %>
              <li class="mr-5">
                <%= link_to "マイページ", mypage_path, class:"btn btn-outline-secondary" %>
              </li>
              <li class="mr-5">
                <%= link_to "商品一覧", items_path, class:"btn btn-outline-secondary" %>
              </li>
              <li class="mr-5">
                <%= link_to notices_path, class:"btn btn-outline-secondary" do %>
                  通知
                  <% if @unchecked_notices.any? %>
                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger text-white">
                      <%= @unchecked_notices.count %>
                      <span class="visually-hidden">件の通知</span>
                    </span>
                  <% end %>
                <% end %>
              </li>
              <li class="">
                <%= link_to "ログアウト", destroy_customer_session_path, method: :delete, class:"btn btn-outline-secondary" %>
              </li>
            <% else %>
              <li class="mr-5">
                <%= link_to "About", homes_about_path, class:"btn btn-outline-secondary", 'data-turbolinks': false %>
              </li>
              <li class="mr-5">
                <%= link_to "商品一覧", items_path, class:"btn btn-outline-secondary" %>
              </li>
              <li class="mr-5">
                <%= link_to "新規登録", new_customer_registration_path, class:"btn btn-outline-secondary" %>
              </li>
              <li class="">
                <%= link_to "ログイン", new_customer_session_path, class:"btn btn-outline-secondary" %>
              </li>
            <% end %>
          </ul>
        </div>
      </nav>
      <div class="px-4">
        <%= search_form_for @q, url: search_items_path do |f| %>
          <%= f.label :name_cont, '書籍検索' %>
          <%= f.search_field :name_cont %>
          <%= f.submit '検索' %>
          <%= f.label :created_at_gteq, '作成日時' %>
          <%= f.radio_button :created_at_gteq, Date.today.at_beginning_of_week, checked: true %> 今週
          <%= f.radio_button :created_at_gteq, Date.today.at_beginning_of_month %> 今月
          <%= f.radio_button :created_at_gteq, Date.today.at_beginning_of_year %> 今年
        <% end %>
      </div>
    </header>

    <main class="container-fluid flex-grow-1 border border-dark">
      <div class="mx-5 mt-5 px-5">
        <%= yield %>
      </div>
    </main>


    <footer class="container-fluid border border-dark p-5">
      <div></div>
    </footer>
  </body>
</html>
