<!DOCTYPE html>
<html>
  <head>
    <title>BookMart</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column min-vh-100">
    <header class="border border-dark">
      <nav class="navbar navbar-expand-lg navbar-light px-4">
        <%= link_to "LOGO", root_path, class:"btn btn-lg btn-outline-secondary px-5" %>
        <div class="d-flex flex-column mt-3 ml-auto">
          <ul class="row list-unstyled mr-auto">
            <% if admin_signed_in? %>
              <li class="mr-5">
                <%= link_to "商品一覧", "", class:"btn btn-outline-secondary" %>
              </li>
              <li class="mr-5">
                <%= link_to "会員一覧", admin_customers_path, class:"btn btn-outline-secondary" %>
              </li>
              <li class="mr-5">
                <%= link_to "注文履歴一覧", "", class:"btn btn-outline-secondary" %>
              </li>
              <li class="mr-5">
                <%= link_to "ジャンル一覧", "", class:"btn btn-outline-secondary" %>
              </li>
              <li class="">
                <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class:"btn btn-outline-secondary" %>
              </li>
            <% elsif customer_signed_in? %>
              <li class="mr-5">
                <%= link_to "マイページ", mypage_path, class:"btn btn-outline-secondary" %>
              </li>
              <li class="mr-5">
                <%= link_to "商品一覧", items_path, class:"btn btn-outline-secondary" %>
              </li>
              <li class="mr-5">
                <%= link_to "カート", "", class:"btn btn-outline-secondary" %>
              </li>
              <li class="">
                <%= link_to "ログアウト", destroy_customer_session_path, method: :delete, class:"btn btn-outline-secondary" %>
              </li>
            <% else %>
              <li class="mr-5">
                <%= link_to "About", homes_about_path, class:"btn btn-outline-secondary" %>
              </li>
              <li class="mr-5">
                <%= link_to "商品一覧", items_path, class:"btn btn-outline-secondary" %>
              </li>
              <li class="mr-5">
                <%= link_to "新規登録", new_customer_registration_path, class:"btn btn-outline-secondary" %>
              </li>
              <li class="">
                <%= link_to "ログイン", new_customer_session_path, class:"btn btn-outline-secondary" %>
              </li>
            <% end %>
          </ul>
          <%# if admin_signed_in? %>
            <form class="form-inline my-1 ml-auto">
              <%#= form_with url: admin_items_path, method: :get do |f| %>
                <%#= f.text_field :search, placeholder: "Search", class:"form-control" %>
                <%#= button_tag(type: 'submit', class: 'btn btn-outline-secondary') do %>
                  <i class="fa fa-search"></i>
                <%# end %>
              <%# end %>
            </form>
          <%# end %>
        </div>
        </div>
      </nav>
    </header>
    
    <main class="container-fluid flex-grow-1 border border-dark">
      <div class="mx-5 mt-5 px-5">
        <%= yield %>
      </div>
    </main>
    
    
    <footer class="container-fluid border border-dark p-5">
      <div></div>
    </footer>
  </body>
</html>
